################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PuzzleSharp/obj
/PuzzleSharp.Test/obj
/PuzzleSharp.Test/bin/Debug/net8.0
